In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [2]:
# Load the data
titanic = sns.load_dataset('titanic')
# Print first 10 rows of dataset
titanic.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [3]:
titanic.shape

(891, 15)

In [4]:

dataset = titanic.iloc[:, [0,1,2,3,4,5,6,7]] #removed 8 and 10 ie tickets and cabin respectively
#y_train = train_data.iloc[:, 1]
#titanic_test = test_data.iloc[:, [1,3,4,5,6,8,10]] #removed 7 and 9
#dataset =  pd.concat([titanic_tv, titanic_test], axis=0).reset_index(drop=True)
print(dataset.columns)
dataset.head()
dataset.tail()

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked'],
      dtype='object')

     survived  pclass     sex   age  sibsp  parch   fare embarked
886         0       2    male  27.0      0      0  13.00        S
887         1       1  female  19.0      0      0  30.00        S
888         0       3  female   NaN      1      2  23.45        S
889         1       1    male  26.0      0      0  30.00        C
890         0       3    male  32.0      0      0   7.75        Q

In [5]:
dataset.shape

(891, 8)

In [6]:
dataset.isna().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

In [19]:
# check the frequent value in the embarked column
uniq = pd.unique(dataset["embarked"])

li = list(dataset.embarked.value_counts())
print(uniq)
print(li)

['S' 'C' 'Q' nan]
[644, 168, 77]

In [20]:
# Fill Embarked nan values of dataset set with 'S' most frequent value
dataset["embarked"] = dataset["embarked"].fillna("S")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
# check unique values in sex column
uniq = pd.unique(dataset["sex"])

li = list(dataset.sex.value_counts())
print(uniq)
print(li)

['male' 'female']
[577, 314]

In [23]:
# convert Sex into categorical value 0 for male and 1 for female
dataset["sex"] = dataset["sex"].map({"male": 0, "female":1})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
for column in dataset.columns:
    print(column, ', n(missing values) =', dataset[column].isnull().values.sum()*100/len(dataset), ', unique values =', 
         dataset[column].nunique())

survived , n(missing values) = 0.0 , unique values = 2
pclass , n(missing values) = 0.0 , unique values = 3
sex , n(missing values) = 0.0 , unique values = 2
age , n(missing values) = 19.865319865319865 , unique values = 88
sibsp , n(missing values) = 0.0 , unique values = 7
parch , n(missing values) = 0.0 , unique values = 7
fare , n(missing values) = 0.0 , unique values = 248
embarked , n(missing values) = 0.0 , unique values = 3

In [28]:
# Filling missing value of Age 

## Fill Age with the median age of similar rows according to Pclass, Parch and SibSp
# Index of NaN age rows
index_NaN_age = list(dataset["age"][dataset["age"].isnull()].index)

for i in index_NaN_age :
    age_med = dataset["age"].median()
    # if unfilled age column me sibsp and parch and pclass same hoga to udhr age times median of those three cols bhar do else age ka median bhar do
    age_pred = dataset["age"] [((dataset['sibsp'] == dataset.iloc[i]["sibsp"]) & (dataset['parch'] == dataset.iloc[i]["parch"]) & (dataset['pclass'] == dataset.iloc[i]["pclass"]))].median()
    if not np.isnan(age_pred) :
        dataset['age'].iloc[i] = age_pred
    else :
        dataset['age'].iloc[i] = age_med

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [29]:
# upar median kaiko bhara?

In [30]:
dataset.isna().sum()

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [31]:
print(dataset['embarked'].unique())

['S' 'C' 'Q']

In [32]:
dataset.dtypes

survived      int64
pclass        int64
sex           int64
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
dtype: object

In [33]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

dataset.iloc[:, 7] = labelencoder.fit_transform(dataset.iloc[:, 7].values)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [34]:
print(dataset['embarked'].unique())

[2 0 1]

In [35]:
labels = dataset['survived']
labels = np.array(labels)

In [36]:
dataset = dataset.iloc[:,1:]

In [37]:
dataset.head()

   pclass  sex   age  sibsp  parch     fare  embarked
0       3    0  22.0      1      0   7.2500         2
1       1    1  38.0      1      0  71.2833         0
2       3    1  26.0      0      0   7.9250         2
3       1    1  35.0      1      0  53.1000         2
4       3    0  35.0      0      0   8.0500         2

In [38]:
dataset_arr = np.array(dataset, dtype = float)

In [43]:
## Separate train dataset and test dataset

train = dataset_arr[:891]

split = int(0.8 * train.shape[0])

train_x = train[:split]
Y_train = labels[:split]

val_x = train[split:]
Y_val = labels[split:]

In [44]:
print(train_x.shape)
print(val_x.shape)

(712, 7)
(179, 7)

In [45]:
# Scale the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(train_x)
X_val = sc.fit_transform(val_x)

In [47]:
X_train

array([[ 0.83290956, -0.74926865, -0.56178747, ..., -0.47015218,
        -0.51933199,  0.59825045],
       [-1.55353553,  1.33463478,  0.63742233, ..., -0.47015218,
         0.79718222, -1.9073632 ],
       [ 0.83290956,  1.33463478, -0.26198502, ..., -0.47015218,
        -0.5054541 ,  0.59825045],
       ...,
       [ 0.83290956, -0.74926865, -0.78663931, ...,  0.76054029,
        -0.35493964, -1.9073632 ],
       [-1.55353553,  1.33463478, -0.41188625, ..., -0.47015218,
         0.34940748, -1.9073632 ],
       [-1.55353553, -0.74926865,  0.67489763, ..., -0.47015218,
        -0.12252713,  0.59825045]])

In [52]:
# Create a function with many machine learning models
def models(X_train, Y_train):
    
    # Use Logistic Regression
    from sklearn.linear_model import LogisticRegression
    log = LogisticRegression(random_state = 0)
    log.fit(X_train, Y_train)
    
    # Use KNeighbors
    from sklearn.neighbors import KNeighborsClassifier
    knn = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
    knn.fit(X_train, Y_train)

    # Use decision tree
    from sklearn.tree import DecisionTreeClassifier
    tree = DecisionTreeClassifier(criterion='entropy', random_state=0)
    tree.fit(X_train, Y_train)
    
    # Use RandomForestClassifier
    from sklearn.ensemble import RandomForestClassifier
    forest = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
    forest.fit(X_train, Y_train)
    
    # Print training accuracy for each model
    print('[0] Logistic Regression training accuracy: ', log.score(X_train, Y_train))
    print('[1] K Neighbors training accuracy: ', knn.score(X_train, Y_train))
    print('[2] Decision tree training accuracy: ', tree.score(X_train, Y_train))
    print('[3] Random Forest training accuracy: ', forest.score(X_train, Y_train))

    return log, knn, tree, forest

In [53]:
# Get and train all the models
model = models(X_train, Y_train)

[0] Logistic Regression training accuracy:  0.7949438202247191
[1] K Neighbors training accuracy:  0.848314606741573
[2] Decision tree training accuracy:  0.9817415730337079
[3] Random Forest training accuracy:  0.9662921348314607

In [54]:
# Show the confusion matrix and accuracy for all the models on the test data
from sklearn.metrics import confusion_matrix

for i in range(len(model)):
    cm = confusion_matrix(Y_val, model[i].predict(X_val))
    
    # Extract TN, FP, FN, TP
    TN, FP, FN, TP = confusion_matrix(Y_val, model[i].predict(X_val)).ravel()
    
    test_score = (TP + TN)/(TP + TN + FP + FN)
    
    print(cm)
    print('Model[{}] Test Accuracy: "{}"'.format(i, test_score))
    print()

[[99 16]
 [16 48]]
Model[0] Test Accuracy: "0.8212290502793296"

[[103  12]
 [ 15  49]]
Model[1] Test Accuracy: "0.8491620111731844"

[[90 25]
 [12 52]]
Model[2] Test Accuracy: "0.7932960893854749"

[[102  13]
 [ 16  48]]
Model[3] Test Accuracy: "0.8379888268156425"

In [65]:
# first example in the X_train
person = np.array([3,	0,	22.0,	1,	0,	7.2500,	2])
person = np.expand_dims(person,axis=0)
person = sc.fit_transform(person)

for i in range(len(model)):
  print(model[i].predict(person))

[0]
[0]
[0]
[0]